/*!
 * @copyright Copyright &copy; Kartik Visweswaran, Krajee.com, 2013
 * @package yii2-widgets
 * @version 1.0.0
 *
 * File input styling for Bootstrap 3.0
 * Built for Yii Framework 2.0
 * Author: Kartik Visweswaran
 * Year: 2013
 * For more Yii related demos visit http://demos.krajee.com
 */

.file-caption-name {
    font-size: 0.5em;
}
.btn-file {
    position: relative;
    overflow: hidden;
    border-bottom-right-radius: 0.3em;
    border-top-right-radius: 0.3em;
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0em;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
.file-caption-disabled {
    background-color: #EEEEEE;
    cursor: not-allowed;
    opacity: 1;
}
.file-input .btn[disabled], .file-input .btn .disabled {
    cursor: not-allowed;
}
.file-preview {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 5px;
    width: 100%;
    margin-bottom: 5px;
}
.file-preview-frame {
    display: table;
    margin: 8px;
    height: 160px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 5px 0px #a2958a;
    padding: 6px;
    float: left;
    text-align: center;
}
.file-preview-frame:hover {
    background-color: #eee;
    box-shadow: 2px 2px 5px 0px #333;
}
.file-preview-image {
    height: 150px;
    vertical-align: text-center;
}
.file-preview-text {
    display: table-cell;
    width: 150px;
    height: 150px;
    color: #428bca;
    font-size: 11px;
    vertical-align: middle;
    text-align: center;
}
.file-preview-other {
    display: table-cell;
    width: 150px;
    height: 150px;
    font-family: Monaco, Consolas, monospace;
    font-size: 11px;
    vertical-align: middle;
    text-align: center;
}
.file-input-new .file-preview, .file-input-new .close, .file-input-new .glyphicon-file, .file-input-new .fileinput-remove-button, .file-input-new .fileinput-upload-button {
    display: none;
}
.loading {
    background: transparent url('../img/loading.gif') no-repeat scroll center center content-box !important;
}
.wrap-indicator {
    font-weight: bold;
    color: #245269;
    cursor: pointer;
}
.fileinput-remove-button {
    border-bottom-right-radius: 0.3em;
    border-top-right-radius: 0.3em;
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0em;
}