* {
    margin: 0;
    outline: 0;
    padding: 0;
}
body {
    padding-right: 0px !important;
}
::-webkit-scrollbar {
    display: none;
}
/*-----------------------Margins-------------------------------*/

.mt-d02 {
    margin-top: -0.2%;
}
.mt-d1 {
    margin-top: -1%;
}
.mt-d2 {
    margin-top: -2%;
}
.mt-d3 {
    margin-top: -3%;
}
.mt-d5 {
    margin-top: -5%;
}
.mt-5 {
    margin-top: 5%;
}
.mt-10 {
    margin-top: 10%;
}
.mt-15 {
    margin-top: 15%;
}
.mt-20 {
    margin-top: 20%;
}
.mt-25 {
    margin-top: 25%;
}
.mt-30 {
    margin-top: 30%;
}
.mt-35 {
    margin-top: 35%;
}
.mt-40 {
    margin-top: 40%;
}
.mt-45 {
    margin-top: 45%;
}
.ml-20 {
    margin-left: 20%;
}
.ml-35 {
    margin-left: 35%;
}
.ml-40 {
    margin-left: 40%;
}
/*------------------------------------Bordes-------------------------------------*/

.border-left-orange {
    border-left: 0.25rem solid #dc7633 !important;
}
.border-left-blue {
    border-left: 0.25rem solid #3498db !important;
}
.border-left-purple {
    border-left: 0.25rem solid #7d30e2b7 !important;
}
/*----------------------------------- ALERTS------------------------------------ */

/* inspired by Twitter Bootstrap */

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    position: fixed;
    bottom: 0px;
    right: 21px;
    float: right;
    clear: right;
    background-color: white;
    z-index: 8000;
}
.alert-red {
    color: white;
    background-color: #DA4453;
}
.alert-green {
    color: white;
    background-color: #37BC9B;
}
.alert-blue {
    color: white;
    background-color: #4A89DC;
}
.alert-yellow {
    color: white;
    background-color: #F6BB42;
}
.alert-orange {
    color: white;
    background-color: #E9573F;
}
/*------------------------WIDTHS--------------------*/

.w-responsive {
    width: 75% !important;
}
/*-------------------------BACKGROUNDS------------------------------*/

.bg-gray {
    background-color: #d6dbdf;
}
.bg-gradient-orange {
    background-color: #1e8449;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #1e8449), to( #196f3d));
    background-image: linear-gradient(180deg, #1e8449 10%, #196f3d 100%);
    background-size: cover;
}
.bg-gradient-green {
    background-color: #1e8449;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #1e8449), to( #196f3d));
    background-image: linear-gradient(180deg, #1e8449 10%, #196f3d 100%);
    background-size: cover;
}
/*----------------------------Textos-----------------------------------*/

.text-decoration-none {
    text-decoration: none !important;
}
.text-orange {
    color: #dc7633 !important;
}
.text-blue {
    color: #3498db !important;
}
.text-purple {
    color: #7d30e2b7 !important;
}
/*----------------------------Cursor--------------------------------------*/

.cursor-pointer {
    cursor: pointer !important;
}
/*-------------------------------Buttons----------------------------------*/

.btn-green {
    background-color: #1e8449 !important;
    color: #fff;
    border: 0px;
}
/*-----------------RESPONSIVE---------------------------*/

@media screen and (min-width: 1024px) {
    .w-responsive {
        width: 50% !important;
    }
}